---
name: build & test

on:
  push:
  pull_request:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.1.0
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.11.1
      - name: Execute Gradle build
        run: ./gradlew build
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
